<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sole-Zon-Solis</title>
</head>
<body>
  {{> header this }}
  <div class="container">
    <div id="solar-panels" class="bg-imager">
      <center>
        <img src="images/min/solar-field.jpg" width="50%">
      </center>
    </div>
    <center>
      <h4>Sonnenberg Fields</h4>
    </center>
    <center>
      <div class="row justify-content-md-center" style="border-style:solid">
        <table style="border-spacing: 25px;border-collapse: separate;">
          <tr>
            <th>Solar Array</th>
            <th>Voltage</th>
            <th>Current</th>
            <th>Power Output (Watts)</th>
          </tr>
          {{#each records}}
            <tr>
              <td>{{arrayID}}</td>
              <td>{{arrayVoltage}}</td>
              <td>{{arrayCurrent}}</td>
              <td>{{power}}W</td>
            </tr>
          {{/each}}
        </table>
    </center>
  </div>
  </div>
  {{> footer}}
</body>
</html>