<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manufacturing</title>
</head>
<body>
  {{> header this }}
  <div class="col-xs-12" style="height:50px;"></div>
  <div class="manufacturing container">
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
      background-image: url('images/min/manufacturing.jpg');
      background-size:  cover;
      background-repeat: no-repeat;
      height: 125%;
    ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Manufacturing</h1>
            <p class="mb-3">Being part of the Vita Vehiculum family means that we support the manufacturing of electric vehicles. Utilizing our solar generation, Vita Vehiculum has build a new electric vehicle manufacturing complex right here at Sonneburg fields. It procides the capability of building EV in a plant run completely off solar! Much more efficient than any of our competitors! Please reach out via the <a href="/contact">contact us page</a> for more information regarding our EV manufacturing. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12" style="height:50px;"></div>
  {{> footer}}
</body>
</html>